doctype html
html
    head
        title Receitas USP
    body
        block content
        br
        footer
            br
            hr
            p &nbsp; Copyright &copy; Receitas USP
    style
        include style/layout.css
